<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>docker-compose-nodejs-examples</title>

    <style>

    body {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 12px;
      padding: 40px;
    }

    </style>
  </head>
  <body>

    <h1>Hello From Express &amp; Docker.</h1>

  </body>
</html>
