version: '2'
services:
  web:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    environment:
{{#database}}
      - DATABASE_HOST=${DATABASE_HOST}
      - DATABASE_PORT=${DATABASE_PORT}
      - DATABASE_USER=${DATABASE_USER}
      - DATABASE_PASS=${DATABASE_PASS}
      - DATABASE_NAME=${DATABASE_NAME}
{{/database}}
    command:
{{#database}}
      - /docker-wait
      - db:${DATABASE_PORT}
      - --timeout=60
      - --
{{/database}}
      - npm run start-dev
    volumes:
      - .:/app
{{#database}}
  db:
    extends:
      file: database-service.yml
      service: database
{{/database}}
