version: '2'
services:
  web:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
{{#database}}
    environment:
      - DATABASE_HOST=${DATABASE_HOST}
      - DATABASE_PORT=${DATABASE_PORT}
{{/database}}
    command: npm run start-dev
{{#database}}
    volumes:
      - .:/app
{{/database}}
{{#database}}
  db:
    extends:
      file: database-service.yml
      service: database
{{/database}}
